tasks tracker.json
{
  "name": "tasks tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "93b759f8-dc3d-4c94-8d7b-6caab6219aa6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "353329f2-f83b-8004-a037-f6535f0bfed6",
          "mode": "list",
          "cachedResultName": "Tasks Tracker",
          "cachedResultUrl": "https://app.notion.com/p/353329f2f83b8004a037f6535f0bfed6"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "statusValue": "Not started"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "c1bda12c-8d85-45bf-a84b-f160c96e30bf",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "mRaY2APPEYPDpSFL",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5228011988",
        "text": "=⏰ Task Due: {{ $json.name }}\n📅 Due: {{ $json.property_due_date.start }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -16
      ],
      "id": "0fd65249-764d-4378-b961-cafe6705ec29",
      "name": "Send a text message",
      "webhookId": "5c7a69a2-6fc5-4a49-8c68-756d238157e7",
      "credentials": {
        "telegramApi": {
          "id": "LIpJ4qngpEmLI3C0",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9404355-d85a-497f-a4b0-ad89d1fdd630",
              "leftValue": "={{ $json.property_due_date.start }}",
              "rightValue": "={{ $today.toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        0
      ],
      "id": "ee39d439-af80-4fee-99a4-2d00005e49c2",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ecb924d0-2142-4385-a619-d72cc0e4d362",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5701260e8c6cf257a13aba268c3b257077603b8405fcbac5ddcc33a5c2d40b5"
  },
  "id": "8SybuoicxazoKrJQ",
  "tags": []
}
